body {
  background-color: #A9D6E9;
}

div{
  margin-top:10px;
}

label {
  width: 110px;
  display: inline-block;
}

input {
  width: 100px;
  display: inline-block;
}

ul {
  list-style-type: none;
}
